h1{
  text-align: center;
  color: green;
  text-decoration: underline orange;
}

li{
  list-style: none;
  margin: 10px;
}

li::before{
  content: '\2606';
}

button{
  float: right;
}

#add-task{
  margin-right: 30px;
}

#saveButton{
  float: right;
}
